# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env
docker-compose.override.yml

# Django
db.sqlite3
*.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/